@font-face {
    font-family: Macan-Regular;
    src: url('/src/assets/fonts/macan/macan-regular.woff2');
}

@font-face {
    font-family: Macan-bold;
    src: url('/src/assets/fonts/macan/macan-bold.ttf');
}

@font-face {
    font-family: Macan-semi-bold;
    src: url('/src/assets/fonts/macan/macan-semibold.woff2');
}

@font-face {
    font-family: Macan-Light;
    src: url('/src/assets/fonts/macan/macan-light.ttf');
}

@font-face {
    font-family: Domain-Display-Regular-Italic;
    src: url('/src/assets/fonts/domainDisplay/domain-display-regular-italic.otf');
}

@font-face {
    font-family: Domain-Display-Medium-Italic;
    src: url('/src/assets/fonts/domainDisplay/domain-display-medium-italic.otf');
}